* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    min-height: 100vh;
    background-color: #3c3c4a;
}

.card {
    height: 550px;
    width: 26rem;
    background-color: #060619;
    box-shadow: 0px 2px 10px rgb(255 255 255 / 20%);
}

.nk {
    background-color: #3B3B98;
    color: #fff;
}

textarea {
    resize: none;
}